__py*
.gitignore
.env
#docker run -it --rm --name rabbitmq -p 5672:5672 -p 15672:15672 rabbitmq:3.13.1-management
#stripe listen --forward-to localhost:8000/payment/webhook/
#docker run -it --rm --name redis -p 6379:6379 redis:7.2.4
