amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
Brotli==1.1.0
celery==5.4.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cssselect2==0.8.0
Django==5.2.5
django-localflavor==4.0
django-parler==2.3
django-rosetta==0.10.0
flower==2.0.1
fonttools==4.59.2
html5lib==1.1
humanize==4.13.0
idna==3.10
kombu==5.5.4
packaging==25.0
pillow==11.3.0
polib==1.2.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-stdnum==2.1
pytz==2025.2
redis==5.0.4
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
stripe==9.3.0
tinycss2==1.4.0
tornado==6.5.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
weasyprint==61.2
webencodings==0.5.1
zopfli==0.2.3.post1
